.network_cap{
  padding-left: 0;
  padding-right: 0;
  background-image:url('CardioRenal_network/rat_wholebody.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:100%;
}

.network_capnone{
  padding-left: 0;
  padding-right: 0;
  height:100%;
}

.network_caprat{
  padding-left: 0;
  padding-right: 0;
  background-image:url('CardioRenal_network/rat_wholebody.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:100%;
}

.network_caphuman{
  padding-left: 0;
  padding-right: 0;
  background-image:url('CardioRenal_network/human_wholebody.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:100%;
}

mark {
  background-color: yellow;
}

#about_us{
  margin-left: auto;
  margin-right: auto;
  max-width:70%;
  max-height:70%;
}

#zoom_image{
  border: 3px black solid;
  border-radius: 10px;
  box-shadow: 6px 6px 0 black;
}

.MathJax_Display {
    text-align: center !important;
}

.modal-body {
  max-height: 500px;
 overflow-y: auto;
}

.bttn-fill {
  border-radius: 5px;
}

.btn-box-tool {
  border-radius: 5px;
}

#user_comment {
  border-radius: 5px;
}


@-webkit-keyframes glowing_blue {
  0% { background-color: #3d89f7; -webkit-box-shadow: 0 0 3px #3d89f7; }
  50% { background-color: #44c5f4; -webkit-box-shadow: 0 0 10px #44c5f4; }
  100% { background-color: #3d89f7; -webkit-box-shadow: 0 0 3px #3d89f7; }
}

@-moz-keyframes glowing_blue {
  0% { background-color: #3d89f7; -moz-box-shadow: 0 0 3px #3d89f7; }
  50% { background-color: #44c5f4; -moz-box-shadow: 0 0 10px #44c5f4; }
  100% { background-color: #3d89f7; -moz-box-shadow: 0 0 3px #3d89f7; }
}

@-o-keyframes glowing_blue {
  0% { background-color: #3d89f7; box-shadow: 0 0 3px #3d89f7; }
  50% { background-color: #44c5f4; box-shadow: 0 0 10px #44c5f4; }
  100% { background-color: #3d89f7; box-shadow: 0 0 3px #3d89f7; }
}

@keyframes glowing_blue {
  0% { background-color: #3d89f7; box-shadow: 0 0 3px #3d89f7; }
  50% { background-color: #44c5f4; box-shadow: 0 0 10px #44c5f4; }
  100% { background-color: #3d89f7; box-shadow: 0 0 3px #3d89f7; }
}




@-webkit-keyframes glowing_green {
  0% { background-color: #5cb490; -webkit-box-shadow: 0 0 3px #5cb490; }
  50% { background-color: #7FFF00; -webkit-box-shadow: 0 0 10px #7FFF00; }
  100% { background-color: #5cb490; -webkit-box-shadow: 0 0 3px #5cb490; }
}

@-moz-keyframes glowing_green {
  0% { background-color: #5cb490; -moz-box-shadow: 0 0 3px #5cb490; }
  50% { background-color: #7FFF00; -moz-box-shadow: 0 0 10px #7FFF00; }
  100% { background-color: #5cb490; -moz-box-shadow: 0 0 3px #5cb490; }
}

@-o-keyframes glowing_green {
  0% { background-color: #5cb490; box-shadow: 0 0 3px #5cb490; }
  50% { background-color: #7FFF00; box-shadow: 0 0 10px #7FFF00; }
  100% { background-color: #5cb490; box-shadow: 0 0 3px #5cb490; }
}

@keyframes glowing_green {
  0% { background-color: #5cb490; box-shadow: 0 0 3px #5cb490; }
  50% { background-color: #7FFF00; box-shadow: 0 0 10px #7FFF00; }
  100% { background-color: #5cb490; box-shadow: 0 0 3px #5cb490; }
}




@-webkit-keyframes glowing_purple {
  0% { background-color: #ad42ed; -webkit-box-shadow: 0 0 3px #ad42ed; }
  50% { background-color: #ee44f4; -webkit-box-shadow: 0 0 10px #ee44f4; }
  100% { background-color: #ad42ed; -webkit-box-shadow: 0 0 3px #ad42ed; }
}

@-moz-keyframes glowing_purple {
  0% { background-color: #ad42ed; -moz-box-shadow: 0 0 3px #ad42ed; }
  50% { background-color: #ee44f4; -moz-box-shadow: 0 0 10px #ee44f4; }
  100% { background-color: #ad42ed; -moz-box-shadow: 0 0 3px #ad42ed; }
}

@-o-keyframes glowing_purple {
  0% { background-color: #ad42ed; box-shadow: 0 0 3px #ad42ed; }
  50% { background-color: #ee44f4; box-shadow: 0 0 10px #ee44f4; }
  100% { background-color: #ad42ed; box-shadow: 0 0 3px #ad42ed; }
}

@keyframes glowing_purple {
  0% { background-color: #ad42ed; box-shadow: 0 0 3px #ad42ed; }
  50% { background-color: #ee44f4; box-shadow: 0 0 10px #ee44f4; }
  100% { background-color: #ad42ed; box-shadow: 0 0 3px #ad42ed; }
}

.run_glowing_blue {
  -webkit-animation: glowing_blue 1000ms infinite;
  -moz-animation: glowing_blue 1000ms infinite;
  -o-animation: glowing_blue 1000ms infinite;
  animation: glowing_blue 1000ms infinite;
}

.run_glowing_purple {
  -webkit-animation: glowing_purple 1000ms infinite;
  -moz-animation: glowing_purple 1000ms infinite;
  -o-animation: glowing_purple 1000ms infinite;
  animation: glowing_purple 1000ms infinite;
}

.run_glowing_green {
  -webkit-animation: glowing_green 1000ms infinite;
  -moz-animation: glowing_green 1000ms infinite;
  -o-animation: glowing_green 1000ms infinite;
  animation: glowing_green 1000ms infinite;
}


.timeline-item-inner {
  background-color: gainsboro;
}
